/* Main Elements */
body {
	font-family: 'Lucida Grande',Tahoma,Calibri,Arial,sans-serif;
	font-size: 12px;
	line-height: 1.584;
	color: #222;
	 background-color: rgb(255,153,255); 
   /* background-color: #3d4259; */
   background-color: #121212;
   margin:0;
  }

a {
	color: #333;
  text-decoration:none;
}

h1 {
	font-size: 30px;
margin-left: 254px;
top: -38px;
position: relative;
font-family:"Microsoft Yi Baiti"
color:white;
}
                                
h1, h2, h3 {
	
}

h1, h2, h3, h4, h5, h6, .hdr-xxl, .hdr-xl, .hdr-l, .hdr-m, .hdr-sm, .hdr-xsm {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: bold;
	line-height: 1.2;
	color: #343434;
}

.description {
	font-size: 1.2em;
}

.reference {
	padding: 0.5em 0;
	font-size: .9em;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#wrapper {position: relative; max-width: 800px;min-height: 100%;margin: 0 auto;padding: 20px;}

section {position: relative;overflow: hidden;margin: 0 0 40px;}

.breadcrumb {
	list-style: none;
	padding: 0;
}

body::before {
	content: '.';
//	background: url('/img/spotify-logo.png') no-repeat top right;
	width: 400px;
	height: 400px;
	top: 0;
	right: 0;
	position: absolute;
	opacity: 0.2;
}

/* Text */
ul {margin:0 0 20px;}

/* Player */
#player {min-height:140px;}
#player .sp-player {float:left;margin-right:10px;}
#player .sp-list {width:inherit;max-height:inherit;}

/* Drop Box */
#drop-box {border:4px dashed #333;width:100%;height:200px;padding:10px;}
#drop-box.over {opacity:0.8;border-color:#74c043;}

/* Buttons */
.buttons button {margin: 0 20px 0 0;} 

body, html {overflow:visible !important;}

code {-webkit-user-select: auto;}

li  {

list-style-type: none;

}

.bandname {font-family: Helvetica; font-size:48px; color: white; top: -136px;
position: relative;
left: 45px;}

.donatebox {height: 35px;
width: 350px;
font-size: 20px;}

#inline_content {  margin-left: auto ;
  margin-right: auto ;text-align: center ;
}


.donate { opacity:0.5; height:100px; width:100px}
.donate:hover {opacity: 1}

.dna {font-size:20px}

#searchfield {height:40px; width:140px; border-radius:5px; border:1px black solid;}

#toplist-artists {padding-left:140px}

#search {top: -27px;
position: relative;}

.button {
   border-top: 1px solid #5c5000;
   background: #bd7004;
   background: -webkit-gradient(linear, left top, left bottom, from(#c48d20), to(#bd7004));
   background: -webkit-linear-gradient(top, #c48d20, #bd7004);
   background: -moz-linear-gradient(top, #c48d20, #bd7004);
   background: -ms-linear-gradient(top, #c48d20, #bd7004);
   background: -o-linear-gradient(top, #c48d20, #bd7004);
   padding: 11.5px 23px;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 15px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   border: 1px solid black;
   }
.button:hover {
   border-top-color: #bd7004;
   background: #bd7004;
   color: #ccc;
   }
.button:active {
   border-top-color: #5c371b;
   background: #5c371b;
   }
   

.bu  {
position: relative;
top: -130px;
left: 246px


}